body {
    background: rgb(15, 23, 42);
    color: white;

}


.card {
    background: rgb(30, 41, 52);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.fade-in {
    animation: fadeIn 1.5s ease-in;
}


@keyframes fadeIn { 
    from { 
        opacity: 0; 
        transform: translateY(10px); 
    } 
    to { 
        opacity: 1; 
        transform: translateY(0); 
    } 
}

